@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #151419;
  cursor: crosshair;
  color: #fbfbfb;
  line-height: 1.5;
  overflow-x: hidden;
  a {
    cursor: cell;
  }
  ,
  p {
    @apply font-lora;
  }
  ,
  h1, h2, h3, h4, h5, h6 {
    @apply font-oswald;
  }
  ,
  h6,
  span {
    @apply font-oswald;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-moz-selection {
  background: rgba(245, 110, 15, 0.5);
}

::-webkit-selection {
  background: rgba(245, 110, 15, 0.5);
}

::selection {
  background: rgba(245, 110, 15, 0.5);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #151419;
}

::-webkit-scrollbar-thumb {
  background: #878787;
  border: 2px solid #151419;
  border-radius: 999px;
  cursor: cell;
}

::-webkit-scrollbar-thumb:hover {
  background: #F56E0F;
}

/* Firefox */
* {
  scrollbar-color: #F56E0F #151419;
}

.work-btn {
  background-image: linear-gradient(
    to right,
    #f56e0f,
    #f56e0f 50%,
    #fbfbfb 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.work-btn:before {
  content: "";
  background: #f56e0f;
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.work-btn:hover {
  background-position: 0;
}

.work-btn:hover::before {
  width: 100%;
}

li::marker {
  color: #f56e0f;
}