@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #151419;
  cursor: crosshair;
  color: #fbfbfb;
  line-height: 1.5;
  overflow-x: hidden;
  a {
    cursor: cell;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-moz-selection {
  background: #f56e0f;
}
::-webkit-selection {
  background: #f56e0f;
}
::selection {
  background: #f56e0f;
}
